@model NaturalPowerWindTurbines.ViewModels.KnowledgeItemShowViewModel
@{
    ViewBag.Title = Model.KnowledgeItem.WindFarm;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>
    @if (Model.KnowledgeItem.WindFarm == null)
    {
        @Html.Raw("(Blank)")
    }
    else
    {
        @Model.KnowledgeItem.WindFarm
    }
</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.Details</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date of Information</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.DateOfInformation</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Manufacturer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.Manufacturer.Name</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Entry Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.EntryStatus.Name</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Knowledge Category</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.KnowledgeCateogory.Name</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Created By</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.CreatedBy</td>
        </tr>
    </tbody>
</table>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Created On</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.KnowledgeItem.CreatedOn</td>
        </tr>
    </tbody>
</table>

